body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;

    background:
        radial-gradient(circle at top left, rgba(0,255,136,0.3), transparent 40%),
        linear-gradient(rgba(0,0,0,0.85), rgba(0,0,0,0.9)),
        url("f11.jpg");

    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    color: white;
}

.container {
     width: 420px;
    padding: 50px 45px 45px 45px;  /* extra top padding */
    border-radius: 20px;

    background: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(15px);

    border: 1px solid rgba(0, 255, 120, 0.2);

    box-shadow:
        0 0 25px rgba(0, 255, 120, 0.4),
        0 0 60px rgba(0, 255, 120, 0.2);

    transition: 0.4s ease;
}

h1 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 25px;
    letter-spacing: 1px;
}
h1::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #00ff88;
    margin: 10px auto 0;
    border-radius: 10px;
}

h2 {
    font-size: 26px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.form-box {
  width: 45%;
}

input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
}

button {
    width: 100%;
    padding: 14px;
    margin-top: 15px;
    border-radius: 30px;
    border: none;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 1px;

    background: linear-gradient(90deg, #00ff88, #00b140);
    color: black;

    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    transform: translateY(-3px);
    box-shadow: 0 0 20px rgba(0, 255, 136, 0.8);
}

.hidden {
  display: none;
}

.switch-text {
  margin-top: 15px;
  font-size: 14px;
  text-align: center;
}

.switch-text span {
    color: #00ff88;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
}

.switch-text span:hover {
    color: #00cc66;
    text-shadow: 0 0 8px rgba(0,255,136,0.6);
}




.form-box input,
.form-box select {
    width: 100%;
    padding: 14px;
    margin: 12px 0;
    border-radius: 10px;
    border: 1px solid transparent;
    outline: none;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    font-size: 14px;
    transition: 0.3s ease;
}
.form-box select {
    background: rgba(255, 255, 255, 0.1);
    color: white;
    border: 1px solid #00ff88;
    appearance: none;
}

.form-box select option {
    background: #111;
    color: white;
}
.form-box input:focus,
.form-box select:focus {
    border: 1px solid #00ff88;
    box-shadow: 0 0 10px rgba(0, 255, 136, 0.6);
    transform: scale(1.02);
}

.form-box button {
    width: 100%;
    max-width: 300px;
}



